{% extends 're_base.html' %}
{% block content %}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
* {margin: 0;}
body {text-align: center; background-color: #e2eef4;}
.wrap { 
    max-width: 100%;
    margin: auto; 
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.tab-container {
    width: 96%;
    margin: 2.5% 2%;
    border: 3px solid #bbc7c7;
}

.tab-btn-pannel{ background-color: whitesmoke;  ; display: block; width: 100%; padding-bottom: 35px; } 
.tab-btn{
    float: left;
    height: 35px; 
    padding:auto; 
    width:100%;
    border:none;
    display:block;
    outline:0; 
    white-space:normal;
    background-color:#d1e8ee;
    color:#9fb5c1;
    font-size:20px;
    font-weight:bold;
}
.tab-content{ background-color: #fff; color: black; padding: 0px 0px;}
.tab-Active{background-color: #b3ecff; color:#5283ac;}

h2 {
    text-align: left;
    background: #5385ad;
    color: #92e4f1;
    font-size:25px;
    height:40px;
}

#main table{
    border: 2px solid #f2f7fa;
    width: 100%;
  }

#main td {
    
    background-color:#f2f7fa;
  }

.index table{
    border: 2px solid #f2f7fa;
    width: 100%;
}

.index td {
    background-color:#f2f7fa;
    text-align:center;
}

.col-1 {
    width:10%;
    text-align: left;
    color:#5283ac;
    font-weight:bold;
} 

.col-2 {
    width: 40%;
    color: black;
    font-size:16px;
    text-align: left;
}
.col-2_1, .col-2_2 {
    width: 20%;
    color: #5283ac;
    text-align: center;
    font-weight:bold;
}
.col-2_3 {
    width: 20%;
}

.col-3 {
    width: 50%;
    color: black;
    font-size:17px;
    text-align:center;
}

.space {
    background-color:#c5dde8;
    height:20px;
}

label {
    font-size:12px;
}

input[type=date], select {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin: 5px 0px 0;
    padding: 3px 5px 3px;
    border: none;
    outline: none;
    background-color: #f2f7fa;
    color: #237bc2;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align:center;
    opacity: .6;
    transition: all linear .3s;
}

input[type=submit] {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  color: #7daac1;
  background-color:#b2ebfe;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  outline: none;
  font-size:20px;
}

textarea {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 27px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #237bc2;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: .6;
}

</style>
    
</head>
<body>
<form method="POST">
{% csrf_token %}
    <div class="tab-container wrap">
    
        <h2>위기분류척도</h2>
        <div class="tab-btn-pannel">
            <p class="tab-btn tab-Active" onclick="opentab(event,'Tab1')">위험영역</p>
        </div>
        <div class="index">
            <table>
            <tr>
                <td class="col-1">
                <select name='danger_label' required />
                    <option name='danger_label' value="">---차수 선택---</option>
                    <option name='danger_label' value='1차'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   1차</option>
                    <option name='danger_label' value='2차'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   2차</option>
                    <option name='danger_label' value='3차'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   3차</option>
                </select></td>
                <td class="col-2_1">날  짜</td>
                <td><input type='hidden' name='danger_name' value='{{ user.Name }}'/></td>
                <td><input type='hidden' name='CT' value='{{ user.id }}'/></td>
                <td><input type='hidden' name='counselor' value='{{ request.user.id }}'/></td>
                <td class="col-2_2"><input type="date" name='danger_date'value='{{ctrs.danger_date}}' required /></td>
                <td class="col-3"><span style="font-size:14px; color:red;">* 해당 사실이 없을 경우는 &nbsp;비해당에, 있을 경우는 1~5점까지 정도를 체크합니다.</span></td>
            </tr>
            </table>
        </div>


        <div id="Tab1" class="tab-content tab">
            <div id="main">
                
                <table>
                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='5'>개인 영역</td>
                        <td class="col-2">1. 건강검진 및 치료가 시급하다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="col-2">2. 우울, 불안, 무기력함이 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 가출한 경험이 있으며, 가출 위험 정도가 높다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 경계성 지능이나 지적장애가 의심된다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_4" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">5. 혼자 살고 있거나 주변에 위험요인이 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_5" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='5'>가정 및 <br>지지체계 영역</td>
                        <td class="col-2">1. 가족간 폭력과 갈등이 심하여 힘들다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="col-2">2. 부모의 사망, 별거, 형 집행 등으로 가족간 지지체계가 약하다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 가족에 의한 성적 수치심 및 성적 폭력에 노출되어 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 도움이 필요할 때 요청할 수 있는 사람이나 기관이 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_4" value=5>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=4>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=2>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=1>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">5. 경제적으로 어렵다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_5" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='5'>성건강 영역</td>
                        <td class="col-2">1. 성건강에 대한 정보가 부재하여 지속적인 교육이 필요하다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="col-2">2. 임신 낙태 경험이 있으며, 관련 정보가 부족하다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 피임 실천이 안되고 있으며, 관련 정보가 부족하다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 위험한 성관계에 노출되어 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_4" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">5. 성매개 감염의 잦은 발생으로 지속적인 진료와 검진이 필요하다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_5" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='5'>정신건강 영역</td>
                        <td class="col-2">1. 우울하거나 스트레스가 심하다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey4_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">2. 약물 흡입을 한 적이 있거나, 술을 자주 마셔 기억이 잘 나지 않는 경우가 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey4_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 자살, 자해를 시도한 적이 있거나 자살, 자해에 대한 생각을 자주 한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey4_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 잠을 못 자거나 식사를 자주 걸러 짜증나고 힘들다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey4_4" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">5. 최근 3개월 동안 도무지 무엇을 시작할 기운이 나지 않은 적이 자주 있었다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey4_5" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_5" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_5" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_5" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_5" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_5" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    
    <table>
        <tr>
        <td style='width:15%; font-weight:bold; color:#5283ac; text-align:center;'>Comment</td>
        <td><textarea cols='200' rows='10' name='ctrs_comment'></textarea></td>
        </tr>
        <tr>
        <td style='font-weight:bold; color:#5283ac; text-align:center;'>오늘의 한줄</td>
        <td><textarea cols='200' rows='5' name='ctrs_sentence'></textarea></td>
        </tr>
        <tr>
            <td style='font-weight:bold; color:#5283ac'></td>
            <td><input type='submit' value='Submit'></td>
        </tr>
    </table>
    </div>
</form>


<!-- 탭 기능 -->
<script>
  function opentab(evt, tabName) {
    var i, x, tabBtns;
    x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {x[i].style.display = "none";}
    tabBtns = document.getElementsByClassName("tab-btn");
    for (i = 0; i < x.length; i++) {tabBtns[i].className = tabBtns[i].className.replace(" tab-Active", "");}
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " tab-Active";
  }
</script>
</body>
{% endblock %}