{% extends 're_base.html' %}
{% block content %}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
* {margin: 0;}
body {text-align: center; background-color: #e2eef4;}
.wrap { 
    max-width: 100%;
    margin: auto; 
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.tab-container {
    width: 96%;
    margin: 2.5% 2%;
    border: 3px solid #bbc7c7;
}

.tab-btn-pannel{ background-color: whitesmoke;  ; display: block; width: 100%; padding-bottom: 35px; } 
.tab-btn{
    float: left;
    height: 35px; 
    padding:auto; 
    width:50%;
    border:none;
    display:block;
    outline:0; 
    white-space:normal;
    background-color:#d1e8ee;
    color:#9fb5c1;
    font-size:20px;
    font-weight:bold;
}
.tab-content{ background-color: #fff; color: black; padding: 0px 0px;}
.tab-Active{background-color: #b3ecff; color:#5283ac;}

h2 {
    text-align: left;
    background: #5385ad;
    color: #92e4f1;
    font-size:25px;
    height:40px;
}

#main table{
    border: 2px solid #f2f7fa;
    width: 100%;
  }

#main td {
    
    background-color:#f2f7fa;
  }

.index table{
    border: 2px solid #f2f7fa;
    width: 100%;
}

.index td {
    background-color:#f2f7fa;
    text-align:center;
}

.col-1 {
    width:10%;
    text-align: left;
    color:#5283ac;
    font-weight:bold;
} 

.col-2 {
    width: 40%;
    color: black;
    font-size:16px;
    text-align: left;
}
.col-2_1, .col-2_2 {
    width: 20%;
    color: #5283ac;
    text-align: center;
    font-weight:bold;
}
.col-2_3 {
    width: 20%;
}

.col-3 {
    width: 50%;
    color: black;
    font-size:17px;
    text-align:center;
}

.space {
    background-color:#c5dde8;
    height:20px;
}

label {
    font-size:12px;
}

input[type=date], select {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin: 5px 0px 0;
    padding: 3px 5px 3px;
    border: none;
    outline: none;
    background-color: #f2f7fa;
    color: #237bc2;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align:center;
    opacity: .6;
    transition: all linear .3s;
}

input[type=submit] {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  color: #7daac1;
  background-color:#b2ebfe;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  outline: none;
  font-size:20px;
}

textarea {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 27px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #237bc2;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: .6;
}

</style>
    
</head>
<body>
<form method="POST">
{% csrf_token %}
    <div class="tab-container wrap">
    
        <h2>위기분류척도</h2>
        <div class="tab-btn-pannel">
            <p class="tab-btn tab-Active" onclick="opentab(event,'Tab1')">위험영역</p>
            <p class="tab-btn" onclick="opentab(event,'Tab2')">행동영역</p>
        </div>
        <div class="index">
            <table>
            <tr>
                <td class="col-1">
                <select name='danger_label' required />
                    <option name='danger_label' value="">---차수 선택---</option>
                    <option name='danger_label' value='1차'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   1차</option>
                    <option name='danger_label' value='2차'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   2차</option>
                    <option name='danger_label' value='3차'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   3차</option>
                </select></td>
                <td class="col-2_1">날  짜</td>
                <td><input type='hidden' name='danger_name' value='{{ user.Name }}'/></td>
                <td><input type='hidden' name='CT' value='{{ user.id }}'/></td>
                <td><input type='hidden' name='counselor' value='{{ request.user.id }}'/></td>
                <td class="col-2_2"><input type="date" name='danger_date'value='{{ctrs.danger_date}}' required /></td>
                <td class="col-3"><span style="font-size:14px; color:red;">* 해당 사실이 없을 경우는 &nbsp;비해당에, 있을 경우는 1~5점까지 정도를 체크합니다.</span></td>
            </tr>
            </table>
        </div>


        <div id="Tab1" class="tab-content tab">
            <div id="main">
                
                <table>
                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='5'>개인영역</td>
                        <td class="col-2">1. 건강상(성건강 및 신체)의 검진 및 치료가 필요하다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="col-2">2. 우울, 불안, 무기력함이 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 가출의 위험 정도가 높다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 경계성 지능이나 지적장애가 의심된다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_4" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">5. 혼자 살고 있거나 동거인이 위험요소를 가지고 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey1_5" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey1_5" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='5'>가정영역</td>
                        <td class="col-2">1. 가족간의 폭력과 갈등이 있어 위험을 느낀다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="col-2">2. 부모가 사망하였거나 별거 혹은 이혼해서 가족간 지지체계가 없어 불안감을 느낀다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 가족에 의한 성적 수치심 및 성적 폭력에 노출되어 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 경제적으로 어렵다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_4" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">5. 주변에 경제적인 도움을 받을 곳(사람)이 없다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey2_5" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey2_5" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='5'>또래 및 학교영역</td>
                        <td class="col-2">1. 술, 약물흡입, 도박, 사채를 하는 친구와 자주 만난다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="col-2">2. 조건 만남(성매매)을 하고 있는 친구와 자주 어울린다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 친구가 없어 따돌림 당하고 있는 것이 힘들다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 학교를 정말 그만두고 싶다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_4" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">5. 실제로 나는 학교를 잘 나가지 않는다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey3_5" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey3_5" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='4'>지지체계 영역</td>
                        <td class="col-2">1. 주변에 실질적인 도움을 받을 만한 기관이 있다는 것을 잘 알고 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey4_1" value=5>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=4>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=2>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=1>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">2. 주변에 가족, 친구로부터 실질적인 도움을 받을 수 있다고 생각한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey4_2" value=5>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=4>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=2>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=1>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 기관으로부터 필요한 상황에 따라 적절한 도움을 받을 수 있다고 생각한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey4_3" value=5>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=4>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=2>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=1>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 나와 관계된 선생님에게 도움을 받을 수 있다고 생각한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey4_4" value=5>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=4>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=2>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=1>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey4_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div id="Tab2" class="tab-content tab" style="display:none">
            <div id="main">
                <table>
                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='5'>성건강(공통)</td>
                        <td class="col-2">1. 생리불순, 생리통, 여성질환 등이 있을 때 적극적으로 치료를 받으려고 한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey5_1" value=5>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_1" value=4>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_1" value=2>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_1" value=1>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="col-2">2. 관계를 할 때마다 임신에 대한 걱정을 많이 한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey5_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 피임에 대한 방법을 잘 알고 있으며, 관계시 매번 실천한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey5_3" value=5>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_3" value=4>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_3" value=2>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_3" value=1>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 임심중단의 경험이 있으며, 그로 인한 정신적,신체적 어려움이 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey5_4" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_4" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_4" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_4" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">5. 생리대 등 여성용품을 내가 필요한만큼 구할 수 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey5_5" value=5>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_5" value=4>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_5" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_5" value=2>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_5" value=1>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey5_5" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='3'>성건강(성관계)</td>
                        <td class="col-2">1. 채팅방 등 온라인에서 만난 사람과 성관계를 자주 한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey6_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="col-2">2. 나는 성관계를 할 때 불편한 것을 표현할 수 있고 매번 잘 받아들여 진다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey6_2" value=5>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_2" value=4>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_2" value=2>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_2" value=1>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 술, 약물을 섭취하고 성관계를 하는 경우가 자주 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey6_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey6_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='3'>성폭력</td>
                        <td class="col-2">1. 성폭력(강간, 성추행)을 당한 경험이 있으며 그로 인한 신체적, 정신적 어려움을 겪고 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey7_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">2. 나를 포함한 주변 사람들이 사이버 성폭력이나 조건만남 등에 민감하게 생각하지 않는다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey7_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 원치않는 성관계가 자주 일어나고 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey7_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey7_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='3'>폭력피해</td>
                        <td class="col-2">1 친구 또는 지인, 가족에게 폭행을 자주 당한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey9_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">2. 친구 또는 지인에게 따돌림이나 괴롭힘을 자주 당한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey9_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. SNS상의 성폭력 피해나 괴롭힘을 자주 당한다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey9_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey9_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='3'>폭력가해</td>
                        <td class="col-2">1. 친구 또는 지인, 가족과의 쌍방 폭력이 잦다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey10_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">2. 친구 또는 지인과의 쌍방 따돌림, 괴롭힘이 잦다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey10_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 친구 또는 지인과의 관계에서 성적 수치심이나 성폭력이 될만한 행동이 잦다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey10_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey10_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" style='background-color:#c5dde8;' colspan='5'></td>
                    </tr>
                    <tr>
                        <td class="col-1" rowspan='4'>정신건강</td>
                        <td class="col-2">1. 우울하거나 스트레스가 심하다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey11_1" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_1" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_1" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_1" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_1" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_1" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">2. 술을 자주 마시고 기억이 잘 나지 않는다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey11_2" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_2" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_2" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_2" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_2" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_2" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">3. 현재 자살/자해 생각이 있거나 시도 한 적이 있다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey11_3" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_3" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_3" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_3" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_3" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_3" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2">4. 끼니를 자주 걸러 짜증나고 힘들다.</td>
                        <td class="col-3">
                            <label><input type="radio" name="survey11_4" value=1>&nbsp;전혀 그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_4" value=2>&nbsp;그렇지 않다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_4" value=3>&nbsp;보통이다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_4" value=4>&nbsp;그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_4" value=5>&nbsp;매우 그렇다</label>&nbsp;&nbsp;
                            <label><input type="radio" name="survey11_4" value=0>&nbsp;비해당</label>
                        </td>
                    </tr>
                 
                </table>
            </div>
        </div>
    
    <table>
        <tr>
        <td style='width:15%; font-weight:bold; color:#5283ac; text-align:center;'>Comment</td>
        <td><textarea cols='200' rows='10' name='ctrs_comment'></textarea></td>
        </tr>
        <tr>
        <td style='font-weight:bold; color:#5283ac; text-align:center;'>오늘의 한줄</td>
        <td><textarea cols='200' rows='5' name='ctrs_sentence'></textarea></td>
        </tr>
        <tr>
            <td style='font-weight:bold; color:#5283ac'></td>
            <td><input type='submit' value='Submit'></td>
        </tr>
    </table>
    </div>
</form>


<!-- 탭 기능 -->
<script>
  function opentab(evt, tabName) {
    var i, x, tabBtns;
    x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {x[i].style.display = "none";}
    tabBtns = document.getElementsByClassName("tab-btn");
    for (i = 0; i < x.length; i++) {tabBtns[i].className = tabBtns[i].className.replace(" tab-Active", "");}
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " tab-Active";
  }
</script>
</body>
{% endblock %}